  <div class="lienzo">
    <div class="row">
      <app-carta [numeroCarta]="'assets/img/2.png'"></app-carta>
      <app-carta [numeroCarta]="'assets/img/A.png'"></app-carta>
      <app-carta [numeroCarta]="'assets/img/3.png'"></app-carta>
      <app-carta [numeroCarta]="'assets/img/5.png'"></app-carta>
    </div>
    <div class="row">
      <app-carta [numeroCarta]="'assets/img/4.png'"></app-carta>
      <app-carta></app-carta>
      <app-carta></app-carta>
      <app-carta></app-carta>
    </div>            
  </div>
  
